@charset "utf-8";
/* CSS Document */
html {
  background: #d6dce5;
}

/* Header */
header {
  overflow: hidden;
}
nav {
  width: 100%;
  height: 80px;
  background-color: #d6dce5;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}
nav .headernav a {
  margin-right: 3%;
  text-decoration: none;
  color: #44546a;
  font-family: "Avenir LT 35 Light", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  margin-top: 3%;
  float: right;
  text-align: center;
}
nav .headernav a:hover {
  color: #ffaaaa;
}

.logo {
  /* Logo */
  float: left;
  position: absolute;
  width: 400px;
  height: 60px;
  padding: 15px 15px;
}
.logo h1 {
  font-size: 40px;
  font-family: "Avenir LT 35 Light", sans-serif;
  text-shadow: -6px -3px 5px #acc7c8, 6px 4px 5px #ffcccc;
  color: #e7e6e6;
  margin-left: 30px;
  text-decoration: none !important;
}
.logo a{
  text-decoration: none;
}
h1 a{
  text-decoration: none;
}
p {
  padding: 20px auto;
  display: flex;
}
img {
  border-radius: 25%;
}
/* Content */
body {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 90%;
  padding-left: 2.275%;
  padding-right: 2.275%;
  overflow: auto;
}
.myphoto {
  display: flex;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 100px;
  padding-left: 100px;
}

.myphoto img {
  width: 300px;
  height: 350px;
  border-radius: 20%;
  margin-right: 20px;
}

.myphoto h2,
p {
  text-align: left;
  padding: 20px auto;
}
.resume {
  color: #44546a;
  font-size: 17px;
  border: 2px solid #44546a;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 20px;
  margin-right: 8px;
  cursor: pointer;
  padding: 8px 20px 8px 20px;
  text-decoration: none !important;
}
.resume a{
  text-decoration: none;
  color: #44546a;
}
.resume-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}


/* Footer */
footer .footerright {
  /* Copyright Info */
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro",
    "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  font-size: 14px;
  line-height: 18px;
  color: #44546a;
  font-weight: 700;
  margin-top: 3%;
  margin-bottom: 3%;
}
footer .footerright span {
  color: #44546a;
  font-weight: 400;
  margin-top: 3%;
}
footer .footerright {
  float: left;
  margin-left: 3%;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro",
    "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  margin-top: 3%;
}

footer .footernav {
  /* Nav area */
  font-family: "Avenir LT 35 Light", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #44546a;
  font-weight: 700;
  text-decoration: none;
  margin-top: 3%;
}
footer .footernav span {
  color: #44546a;
  font-weight: 400;
  text-decoration: none;
  margin-top: 3%;
}
footer .footernav {
  float: right;
  margin-right: 3%;
  margin-top: 3%;
  font-family: "Avenir LT 35 Light", sans-serif;
  text-decoration: none;
}
footer .footernav:hover {
  color: #ffaaaa;
}
